option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public

container_commands:
  01_fix_permissions:
    command: "find storage bootstrap/cache -type d -exec chmod 777 {} \\; && find storage bootstrap/cache -type f -exec chmod 666 {} \\;"
  02_migrate:
    command: "php artisan migrate --force"
    leader_only: true
  03_add_laravel_routing:
    command: |
      cat >> /var/proxy/staging/nginx/conf.d/elasticbeanstalk/php.conf << 'EOFCONFIG'
      location / {
        try_files $uri $uri/ /index.php?$query_string;
      }
      EOFCONFIG